/* You can add global styles to this file, and also import other style files */
:root {
  --color-red: #F8312F;
  --color-purple: #181733;
  --color-yellow: #FDC52C;
  --color-blue: #154284;

  --color-white: whitesmoke;

  --gradient-principal: linear-gradient(45deg, rgba(22, 66, 131, 1) 23%, rgba(23, 23, 52, 1) 69%);
  --background-gradient-principal: rgb(22, 66, 131);

  --gradient-secondary: linear-gradient(45deg, rgba(193, 21, 51, 1) 23%, rgba(35, 63, 126, 1) 81%);
  --background-gradient-secondary: #c11533;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  height: 100%;
  background: var(--gradient-secondary);
  padding-top: 6vh;
  animation: showContent 2s ease-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
}

::-webkit-scrollbar-button {
  background-color: var(--color-yellow);
}

@keyframes showContent {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

