/* You can add global styles to this file, and also import other style files */
:root {
  $color-principal: #FFF66B;
  $color-secondary: #00799E;
  $gradient-principal: linear-gradient(45deg, rgba(255,240,0,1) 14%, rgba(0,121,158,1) 83%);
  $background-gradient-principal: rgb(255,240,0);
}