.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 80vh;
  background: var(--gradient-principal);

  img {
    width: 18%;
  }

  h3 {
    color: var(--color-yellow);
  }

}